/*Fonts*/
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroylight.woff2) format('woff2'),
  url(../fonts/gilroylight.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroyextrabold.woff2) format('woff2'),
  url(../fonts/gilroyextrabold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff2) format('woff2'),
  url(../fonts/opensans.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensanslight.woff2) format('woff2'),
  url(../fonts/opensanslight.woff) format('woff');
  font-weight: 300;
  font-style: normal
}

/*Variables*/
:root {
  --basic-black: #000000;
  --basic-black-hover: rgba(54, 54, 54, 0.6);
  --basic-black-active: rgba(54, 54, 54, 0.3);
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-white-hover: rgba(255, 255, 255, 0.6);
  --basic-white-active: rgba(255, 255, 255, 0.3);
  --basic-white-calm-nav: rgba(255, 255, 255, 0.7);
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #e5e5e5;
  --basic-grey-dark: #EBEBEB;
  --basic-grey-darker: #dcdcdc;
  --basic-one-more-grey: #D9D9D9;
  --special-yellow: #f7e296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --special-yellow-lighten: #F7E296;
  --gold: #FFC600;
}

/*Global*/
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*Lists*/
.header-site-nav,
.popular-products-pagination,
.products-categories-list,
.features-list,
.partners-list,
.footer-site-nav,
.social,
.catalog-site-nav,
.sort-list,
.goods-list,
.pagination-list
 {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Buttons*/
.contacts-button,
.about-button,
.button-more {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*Container*/
.container {
  max-width: 1160px;
  margin: 0 auto;
}

/*Grid*/
.page {
  height: 100vh;
}

.page-body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*ICONS*/
/*Header*/
.header-search::before {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 24px;
}

.header-account-nav-item.cart::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 12px;
}

.header-account-nav-item.login::before {
  content: "";
  width: 9px;
  height: 9px;
  display: inline-block;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 12px;
}

.header-account-nav-item.compare::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 15px;
}

.user::before {
  content: "";
  width: 9px;
  height: 9px;
  display: inline-block;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 12px;
}

.header-catalog::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*margin-left: 19px;*/
}

/*Footer*/
/*Footer*/
.footer-login::before {
  content: "";
  width: 9px;
  height: 9px;
  display: inline-block;
  background-image: url("../img/login_gold.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 12px;
}

.footer-compare::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  background-image: url("../img/compare_gold.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 15px;
}

.footer-cart::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("../img/cart_gold.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 12px;
}

.footer-user::before {
  content: "";
  width: 9px;
  height: 9px;
  display: inline-block;
  background-image: url("../img/login_gold.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 12px;
}

/*INDEX>HTML*/
/*Header*/
.main-header {
  background-color: var(--special-yellow);
  margin-top: 40px;
  min-height: 300px;
}

.main-header-logo {
  margin-top: -19px;
  margin-left: -10px;
  grid-column-start: 1;
  grid-column-end: -1;
}

.main-header-logo-link {
  padding: 0 10px 10px 10px;
}

.header-main-nav {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  width: 1040px;
  padding: 0 60px;
}

.header-search {
  width: 50%;
}

.header-search-input {
  padding: 0;
}

.account-nav-item {
  color: var(--basic-black);
}

.header-site-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  grid-column-start: 1;
  grid-column-end: -1;
}


.header-site-nav-item-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: var(--basic-black);
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 20px;
}

.header-site-nav-item:first-child .header-site-nav-item-link {
  padding-left: 0;
}

.header-site-nav-item:last-child .header-site-nav-item-link {
  padding-right: 0;
}


.header-site-nav-item-link:hover {
  color: var(--basic-black-hover);
}

.header-site-nav-item-link:active {
  color: var(--basic-black-active);
}

.header-account-nav {
  display: flex;
}

.header-account-nav-item {
  color: var(--basic-black);
  padding: 20px;
}

.header-account-nav-item:first-child {
  padding-left: 0;
}

.header-account-nav-item:nth-child(2) {
  padding-left: 0;
}

.header-account-nav-item:last-child {
  padding-right: 0;
}

.header-account-nav-item.user {

}

.header-account-nav-item.logout {
  margin-right: auto;
  margin-left: 20px;
  color: var(--basic-black-active);
}

.header-catalog {
  width: 50%;
}

.header-catalog a {
  padding-right: 14px;
}

.header-guaranty a {
  padding-left: 13px;
}

.header-contacts {
  margin-left: auto;
}

.header-account-nav-item.login {
  margin-right: auto;
}

.header-account-nav-item.compare {
  margin-left: auto;
}

.header-account-nav-item:hover {
  color: var(--basic-black-hover);
}

.header-account-nav-item:active {
  color: var(--basic-black-active);
}


/*Popular products*/
.popular-products {
  display: grid;
  grid-template-rows:  repeat(4, max-content);
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 60px;
  grid-column-gap: 40px;
  padding: 0 60px;
  box-sizing: border-box;
  /*margin-top: -26px;*/
}

.popular-products::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  display: inline-block;
  background-color: var(--basic-white);
  right: 720px;
  top: 246px;
}

.popular-products-img {
  margin-left: 29px;
  margin-top: auto;
  grid-row-start: 1;
  grid-row-end: -1;
}

.popular-products-slogan {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 0;
  margin-bottom: -30px;
}

.popular-products-description {
  line-height: 20px;
  letter-spacing: 0;
  margin-top: auto;
  margin-bottom: 0;
  grid-column-start: 2;
  grid-column-end: 3;
}

.button-more {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.button-more:active {
  color: var(--basic-black-active);
}

.popular-products-specifications {
  font-family: "Gilroy", Arial, sans-serif;
  width: 444px;
  height: 72px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.popular-products-specifications-value {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.popular-products-specifications-value-item {
  padding: 0 56px 0 0;
}

.popular-products-specifications-value-item:last-child {
  padding-right: 0;
}

.popular-products-specifications-description {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.popular-products-specifications-description-item {
  padding: 0;
}

.crumbs {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  bottom: 63px;
  right: 0;
  z-index: 20;
  display: flex;
  width: 72px;
  justify-content: space-between;
}

.crumbs-button {
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.popular-products-pagination {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: row;
}

/*Product's categories*/
.products-categories {
  margin-top: 116px;
}

.products-categories-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products-categories-list-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.products-categories-list-item:active {
  color: var(--basic-black-active);
}

.products-categories-list-item-link {
  color: var(--basic-black);
}

/*Features*/
.features {
  background-color: var(--basic-grey-light);
  margin-top: 185px;
  min-height: 288px;
}

.features-container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 40px;
  transform: translateY(-80px);
}

.features-container::after {
  position: absolute;
  content: "";
  width: 136px;
  height: 164px;
  display: inline-block;
  background-image: url("../img/delivery_man.svg");
  background-repeat: no-repeat;
  right: 0;
  top: 52px;
}

.features-container::before {
  position: absolute;
  content: "";
  left: 277px;
  bottom: -63px;
  width: 7px;
  height: 320px;
  display: inline-block;
  background-color: var(--basic-black);
}

.features-list {
  position: relative;
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  grid-row-start: 1;
  grid-row-end: -1;
}

.features-list-item {
  padding: 20px;
}

.features-list-item:first-child {
  padding-top: 0;
}

.features-list-item:last-child {
  margin-bottom: 0;
}

.features-list-item-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.features-list-item-link:active {
  color: var(--special-yellow);
}

.features-list-item-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  padding-top: 47px;
}

.features-list-description {
  letter-spacing: 0.1em;
  line-height: 30px;
  margin: 0;
}

/*Partners*/
.partners {
  margin-top: 90px;
  margin-bottom: 90px;
}

.partners-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.partners-list-item-link img {
  filter: grayscale(1);
  opacity: 25%
}

.partners-list-item-link:hover img {
  filter: none;
  opacity: 100%
}


/*Columns grid*/
.index-columns {
  display: flex;
  margin-bottom: 86px;
}

.about-heading,
.contacts-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}


/*About*/
.about {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.about-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-description {
  line-height: 28px;
  margin: 0;
}

.about-description-first {
  margin-top: 0;
  margin-bottom: 40px;
}

.about-description-second {
  margin-top: 0;
  margin-bottom: 60px;
}

.delivery-list {
  margin-bottom: 85px;
  margin-top: 0;
}

.delivery-list-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 0;
}

.delivery-list-item:last-child {
  margin-bottom: 0;
}

.delivery-list-item a {
  color: var(--basic-black);
}

.about-button {
  margin-top: auto;
}

.about-button:active {
  color: var(--basic-black-active);
}

/*Contacts*/
.contacts {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contacts-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts-description {
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 40px;
}

.contacts-map {
  margin-bottom: 85px;
}

.contacts-button {
  margin-top: auto;
}

.contacts-button:active {
  color: var(--basic-black-active);
}

/*Footer*/
.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  min-height: 324px;
}

.footer-container {
  position:relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, max-content);
  padding-top: 46px;
}

.footer-container::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 7px;
    display: inline-block;
    background-color: var(--gold);
    bottom: 0;
}

.footer-flex-child {
  display: flex;
  padding-bottom: 67px;
}

.footer-site-nav {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-site-nav-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-right: 36px;
}

.footer-site-nav-item:last-child {
  padding-right: 0;
}

.footer-site-nav-item-link {
  color: var(--basic-white);
}

.footer-site-nav-item-link:hover {
  color: var(--basic-white-hover);
}

.footer-site-nav-item:active {
  color: var(--basic-white-active);
}

.footer-phone {
  color: var(--basic-white);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

}

.footer-account-nav {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.main-address {
  margin-left: auto;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

}

.footer-account-nav-item {
  color: var(--basic-white-calm-nav);
  padding-right: 40px;
}

.footer-account-nav-item:last-child {
  padding-right: 0;
}

.footer-account-nav-item:hover {
  color: var(--basic-white);
}

.footer-account-nav-item:active {
  color: var(--basic-white-active);
}

.social {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 67px;
}

.social-item {
  padding-right: 20px;
}

.social-item:last-child {
  padding-right: 0;
}

.developer-logo {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-left: auto;
  padding-top: 67px;
}

/*Logos*/
.main-footer-logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 13px;
  margin-bottom: 40px;
}

.main-header-logo-link:hover,
.main-footer-logo-link:hover {
  opacity: 60%;
}

.main-header-logo-link:active,
.main-footer-logo-link:active {
  opacity: 30%;
}


/*CATALOG.HTML*/
/*Header*/
.catalog-header .header-site-nav {
  padding-bottom: 50px;
}

/*Main*/
.main-catalog-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin-top: 44px;
  padding-left: 60px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}


.catalog-container {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 328px 1fr;
}

.catalog-site-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding-left: 60px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.catalog-site-nav-item {
  margin-right: 40px;
}

.catalog-site-nav-link {
  color: var(--basic-black-active);
  font-size: 14px;
  line-height: 19px;
}

.catalog-site-nav-link:hover {
  color: var(--basic-black-hover);
}

/*Products container*/
.products-container {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: 328px 1fr;
}

/*Filters*/
.filters-section {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  /*height: 100%;*/
  /*width: 100%;*/
}

.filters-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--basic-grey-darker);
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 70px;
  margin: 0;
  box-sizing: border-box;
}

.filters-header::before {
  content: "";
  position: absolute;
  left: 0;
  transform: translateY(-25px);
  height: 70px;
  width: 50vw;
  background-color: var(--basic-grey-darker);
  z-index: -1;
}

.filters {
  background-color: var(--basic-grey-light);
  min-height: 1214px;
}

.filters::before {
  content: "";
  position: absolute;
  left: 0;
  min-height: 1214px;
  width: 30vw;
  background-color: var(--basic-grey-light);
  z-index: -2;
}

/*Sort*/
.sort-section {
  display: flex;
  background-color: var(--basic-grey-light);
  padding-left: 72px;
  height: 70px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.sort-section::after {
  content: "";
  position: absolute;
  right: 0;
  height: 70px;
  width: 50vw;
  background-color: var(--basic-grey-light);
  z-index: -1;
}


.sort-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 74px;
  margin: 0;
}

.sort-list {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.sort-list-item {
  color: var(--basic-black-active);
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  padding-right: 30px;
}

.sort-list-item:last-child {
  padding-right: 0;
}

.sort-list-item:hover {
  color: var(--basic-black-hover);
}

.sort-list-item:active {
  color: var(--basic-black);
}

.sort-list-item.active {
  color: var(--basic-black);
}

/*Goods*/
.goods-section {
  padding-left: 72px;
  padding-top: 69px;
  margin-bottom: 78px;
}

.goods-list{
  display: flex;
  flex-wrap: wrap;
}

.goods-list-item{
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(2, max-content);
  padding-bottom: 48px;
}

.goods-list-item:nth-child(2n) {
  padding-left: 40px;
}

.goods-list-item:nth-last-child(-n+2) {
  padding-bottom: 40px;
}

.goods-list-link {
  color: var(--basic-black);
}

.goods-list-link-pic {
  padding-bottom: 30px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.goods-list-price {
  margin-left: auto;
}

.goods-list-link-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.goods-link-list-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

/*Pagination*/
.pagination {
  display: flex;
  background-color: var(--basic-grey-dark);
  justify-content: space-between;
  height: 70px;
}

.pagination-list {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.pagination-page {
  padding-right: 30px;
}

.pagination-page:last-child {
  padding-right: 0;
}

.pagination-back {
  padding-left: 30px;
}

.pagination-forward {
  padding-right: 30px;
}

.pagination-forward,
.pagination-back {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: auto;
  margin-bottom: auto;
}

.pagination-forward:hover {
  background-color: var(--basic-one-more-grey);
}

.pagination-forward:active {
  background-color: var(--basic-one-more-grey);
  color: var(--basic-black-active);
}

.pagination-back:hover {
  background-color: var(--basic-one-more-grey);
}

.pagination-back:active {
  background-color: var(--basic-one-more-grey);
  color: var(--basic-black-active);
}

.pagination-page-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black-active);
}

.pagination-page-link:hover {
  color: var(--basic-black-hover);
}

.pagination-page-link:active {
  color: var(--basic-black);
}

.pagination-page-link.active {
  color: var(--basic-black);
}








