/*Fonts*/
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroylight.woff2) format('woff2'),
  url(../fonts/gilroylight.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroyextrabold.woff2) format('woff2'),
  url(../fonts/gilroyextrabold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff2) format('woff2'),
  url(../fonts/opensans.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensanslight.woff2) format('woff2'),
  url(../fonts/opensanslight.woff) format('woff');
  font-weight: 300;
  font-style: normal
}

/*Variables*/
:root {
  --basic-black: #000000;
  --basic-black-hover: rgba(54, 54, 54, 0.6);
  --basic-black-active: rgba(54, 54, 54, 0.3);
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-white-hover: rgba(255, 255, 255, 0.6);
  --basic-white-active: rgba(255, 255, 255, 0.3);
  --basic-white-calm-nav: rgba(255, 255, 255, 0.7);
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-grey-dark: #EBEBEB;
  --basic-grey-darker: #DCDCDC;
  --basic-one-more-grey: #D9D9D9;
  --special-yellow: #f7e296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --special-yellow-lighten: #F7E296;
}

/*Global*/
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Lists*/
.header-site-nav,
.popular-products-pagination,
.products-categories-list,
.features-list,
.partners-list-item,
.footer-site-nav,
.social,
.catalog-site-nav,
.sort-list,
.goods-list,
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Buttons*/
.contacts-button,
.about-button,
.button-more {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*Grid*/
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/*INDEX>HTML*/
/*Header*/
.main-header {
  background-color: var(--special-yellow);
}

.main-header-logo {
  grid-column-start: 1;
  grid-column-end: -1;
}

/*.header-container {*/
/*  display: grid;*/
/*  width: 940px;*/
/*  margin: 0 auto;*/
/*  padding: 0 10px;*/
/*}*/

.header-main-nav {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 20fr 5fr 5fr 5fr 5fr;
}

.header-search {
  grid-column-start: 1;
  grid-column-end: 2;
}

.account-nav-item {
  color: var(--basic-black);
}

.header-site-nav {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 20fr 5fr 5fr 5fr 5fr;
}

.header-site-nav-item.contacts {
  grid-column-start: 5;
  grid-column-end: 6;
}

.header-site-nav-item-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: var(--basic-black);
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header-site-nav-item-link:first-child {
  letter-spacing: 0.1em;
}

.header-site-nav-item-link:hover {
  color: var(--basic-black-hover);
}

.header-site-nav-item-link:active {
  color: var(--basic-black-active);
}

.header-account-nav {
  grid-column-start: 2;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header-account-nav-item.login {
  grid-column-start: 1;
  grid-column-end: 3;
}

.header-account-nav-item {
  color: var(--basic-black);
}

.header-account-nav-item:hover {
  color: var(--basic-black-hover);
}

.header-account-nav-item:active {
  color: var(--basic-black-active);
}

/*Popular products*/
.popular-products-slogan {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.popular-products-description {
  letter-spacing: 0.1em;
}

.button-more:active {
  color: var(--basic-black-active);
}

.popular-products-specifications {
  font-family: "Gilroy", Arial, sans-serif;
}

.popular-products-specifications-value {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.popular-products-specifications-description {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

/*Product's categories*/


.products-categories-list-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.products-categories-list-item:active {
  color: var(--basic-black-active);
}

/*Features*/
.features {
  background-color: var(--basic-grey-light);
}


.features-list-item-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.features-list-item-link:active {
  color: var(--special-yellow);
}

.features-list-item-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.features-list-description {
  letter-spacing: 0.1em;
}

/*Partners*/


/*About*/
.about-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-description {
  line-height: 28px;
}

.delivery-list-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.delivery-list-item a {
  color: var(--basic-black);
}

.about-button:active {
  color: var(--basic-black-active);
}

/*Contacts*/
.contacts-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts-description {
  line-height: 28px;
}

.contacts-button:active {
  color: var(--basic-black-active);
}

/*Footer*/
.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}


.footer-site-nav-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-site-nav-item-link {
  color: var(--basic-white);
}

.footer-site-nav-item-link:hover {
  color: var(--basic-white-hover);
}

.footer-site-nav-item:active {
  color: var(--basic-white-active);
}

.footer-account-nav-item {
  color: var(--basic-white-calm-nav);
}

.footer-account-nav-item:hover {
  color: var(--basic-white);
}

.footer-account-nav-item:active {
  color: var(--basic-white-active);
}

/*Logos*/
.main-header-logo-img:hover,
.main-footer-logo-img:hover {
  opacity: 60%;
}

.main-header-logo-img:active,
.main-footer-logo-img:active {
  opacity: 30%;
}


/*CATALOG.HTML*/
/*Header*/
.header-logout {
  color: var(--basic-black-active);
}


/*Main*/
.main-catalog-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.catalog-site-nav-link {
  color: var(--basic-black-active);
  font-size: 14px;
  line-height: 19px;
}

.catalog-site-nav-link:hover {
  color: var(--basic-black-hover);
}

/*Filters*/
.filters-section {
  background-color: var(--basic-grey-light);
}

.filters-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--basic-grey-darker);
}

/*Sort*/
.sort-section {
  background-color: var(--basic-grey-light);
}

.sort-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort-list-item {
  color: var(--basic-black-active);
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

.sort-list-item:hover {
  color: var(--basic-black-hover);
}

.sort-list-item:active {
  color: var(--basic-black);
}

.sort-list-item.active {
  color: var(--basic-black);
}

/*Goods*/
.goods-list-link {
  color: var(--basic-black);
}

.goods-list-link-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.goods-link-list-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

/*Pagination*/
.pagination {
  background-color: var(--basic-grey-dark);
}

.pagination-forward,
.pagination-back {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination-forward:hover {
  background-color: var(--basic-one-more-grey);
}

.pagination-forward:active {
  background-color: var(--basic-one-more-grey);
  color: var(--basic-black-active);
}

.pagination-back:hover {
  background-color: var(--basic-one-more-grey);
}

.pagination-back:active {
  background-color: var(--basic-one-more-grey);
  color: var(--basic-black-active);
}

.pagination-page-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black-active);
}

.pagination-page-link:hover {
  color: var(--basic-black-hover);
}

.pagination-page-link:active {
  color: var(--basic-black);
}

.pagination-page-link.active {
  color: var(--basic-black);
}








