/*Fonts*/
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroylight.woff2) format('woff2'),
  url(../fonts/gilroylight.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroyextrabold.woff2) format('woff2'),
  url(../fonts/gilroyextrabold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff2) format('woff2'),
  url(../fonts/opensans.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensanslight.woff2) format('woff2'),
  url(../fonts/opensanslight.woff) format('woff');
  font-weight: 300;
  font-style: normal
}

/*Variables*/
:root {
  --basic-black: #000000;
  --basic-black-hover: rgba(54, 54, 54, 0.6);
  --basic-black-active: rgba(54, 54, 54, 0.3);
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-white-hover: rgba(255, 255, 255, 0.6);
  --basic-white-active: rgba(255, 255, 255, 0.3);
  --basic-white-calm-nav: rgba(255, 255, 255, 0.7);
  --basic-popup-input: #F2F2F2;
  --basic-popup-input-hover: #EAEAEA;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #e5e5e5;
  --basic-grey-dark: #EBEBEB;
  --basic-grey-darker: #dcdcdc;
  --basic-one-more-grey: #D9D9D9;
  --special-yellow: #f7e296;
  --special-yellow-transparent: rgba(247, 226, 150, 0.5);
  --special-green: #91C92F;
  --special-yellow-dark: #f0c52e;
  --gold: #FFC600;
  --creme: #ababab;
  --shadow: rgba(0, 0, 0, 0.18);
  --shadow-light: rgba(0, 0, 0, 0.15);
  --outline: rgba(60, 46, 255, 1);
}

/*Global*/
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*Lists*/
.header-site-nav,
.popular-products-pagination,
.products-categories-list,
.features-list,
.partners-list,
.footer-site-nav,
.social,
.catalog-site-nav,
.sort-list,
.goods-list,
.pagination-list,
.header-products-categories,
.sort-arrows,
.filters-color-list,
.filters-bluetooth-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Buttons*/
.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;

  background-color: var(--special-yellow-dark);
  z-index: -1;
}

.button:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 40px;

  background-color: var(--special-yellow-dark);
  z-index: -1;
}

.button:active {
  color: var(--basic-black-active);
}

/*Container*/
.container {
  max-width: 1160px;
  margin: 0 auto;
}

/*Grid*/
.page {
  height: 100vh;
}

.page-body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*INDEX>HTML*/
/*Header*/
.main-header {
  background-color: var(--special-yellow);
  margin-top: 40px;
}

.index-header {
  min-height: 300px;
}

.main-header-logo {
  margin-top: -20px;
  margin-left: -10px;
  grid-column-start: 1;
  grid-column-end: -1;
}

.main-header-logo-link {
  padding: 0 10px 10px 10px;
}

.header-main-nav {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  width: 1040px;
  padding: 0 60px;
}

.header-account-nav-item.header-search {
  width: 540px;
  height: 50px;
  padding: 0;
}

.header-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin-top: 15px;
}

.header-search-label {
  position: absolute;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 16px;
  width: 16px;
  top: 9px;
}

.header-search-label::before {
  content: "";
  position: absolute;
  display: none;
  height: 2px;
  width: 360px;
  background-color: var(--basic-black);
  top: 29px;
}

.header-search-input {
  position: relative;
  color: var(--basic-black);
  opacity: 0.3;
  width: 320px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 37px;
}

.header-search-input:focus ~ .header-search-label::before,
.header-search-input:focus ~ .header-search-button{
  display: block;
}

.header-search-button:focus {
  display: inline;
}


.header-search-input:hover {
  border: 0;
  opacity: 0.6;
  outline: none;
}

.header-search-input:focus {
  opacity: 1;
  outline: none;
}

.header-search-button {
  position: absolute;
  display: none;
  color: var(--basic-black);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 13px 16px;
  border: 2px solid var(--basic-black);
  box-shadow: none;
  top: -10px;
  right: 0;
}


.header-search-button:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.header-search-button:active {
  background-color: var(--basic-black);
  color: var(--basic-white-active);
}

.account-nav-item {
  color: var(--basic-black);
}


.cart::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 13px;
}

.login::before {
  content: "";
  width: 9px;
  height: 9px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 15px;
}

.header-account-nav-item:hover::before {
  opacity: 60%;
}

.header-account-nav-item:active::before {
  opacity: 30%;
}


.compare::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 15px;
}

.header-site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 29px;
  margin-bottom: 51px;
  grid-column-start: 1;
  grid-column-end: -1;
}


.header-site-nav-item-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: var(--basic-black);
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 20px;
}

.header-site-nav-item:first-child  {
  margin-left: -20px;
}

.header-site-nav-item:nth-child(4) {
  margin-right: -23px;
}

.header-site-nav-item:nth-child(2) {
  margin-left: 20px;
}

.header-site-nav-item-link:hover {
  color: var(--basic-black-hover);
}

.header-site-nav-item-link:active {
  color: var(--basic-black-active);
}

.header-account-nav {
  display: flex;
  margin-top: 5px;
}

.header-account-nav-item {
  color: var(--basic-black);
  padding: 20px;
}

.header-account-nav-item:nth-child(2) {
  margin-left: -20px;
}


.header-account-nav-item:last-child {
  margin-right: -20px;
}


.header-catalog {
  width: 50%;
}

.header-site-nav-catalog-link::after {
  content: "";
  width: 15px;
  height: 15px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 30%;
  padding-left: 37px;
}

.header-site-nav-catalog-link:hover + .header-products-categories,
.header-products-categories:hover,
.header-site-nav-item:focus-within .header-products-categories {
  display: grid;
}

.header-catalog a {
  padding-right: 14px;
}

.header-guaranty a {
  padding-left: 16px;
}

.header-contacts {
  margin-left: auto;
  margin-right: -3px;
}

.header-account-nav-item.login {
  margin-right: auto;
}

.header-account-nav-item.compare {
  margin-left: auto;
  margin-right: 4px;
}

.header-account-nav-item:hover {
  color: var(--basic-black-hover);
}

.header-account-nav-item:active {
  color: var(--basic-black-active);
}

.header-products-categories {
  background-color: var(--special-yellow);
  min-height: 146px;
  position: absolute;
  display: none;
  grid-template-columns: repeat(5, -webkit-max-content);
  grid-template-columns: repeat(5, max-content);
  grid-column-gap: 61px;
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  grid-row-gap: 20px;
  width: 100%;
  grid-auto-flow: dense;
  z-index: 20;
  top: 154px;
  left: 0;
  box-sizing: border-box;
  padding: 0 60px;
}

.header-products-categories-item:nth-child(1),
.header-products-categories-item:nth-child(2),
.header-products-categories-item:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 2;
}

.header-products-categories-item:nth-child(4),
.header-products-categories-item:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 3;
}

.header-products-categories-item:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 4;
}


.header-products-categories-item-link {
  color: var(--basic-black);
  padding: 10px 10px 10px 0;
  box-sizing: border-box;
}

.header-products-categories-item-link:hover {
  color: var(--basic-black-hover);
}

.header-products-categories-item-link:active {
  color: var(--basic-black-active);
}

/*Popular products*/
.popular-products {
  position: relative;
  padding: 0 60px 0 0;
  box-sizing: border-box;
  margin-top: -129px;
}

.slide {
  display: none;
}

.slide-current {
  display: grid;
}

.monopod-popular-product,
.fitness-popular-product,
.quadcopter-popular-product {
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.monopod-popular-product .popular-products-content,
.fitness-popular-product .popular-products-content {
  margin-left: 30px;
}

.fitness-popular-product {
  margin-bottom: -23px;
}

.monopod-popular-product::after {
  position: absolute;
  content: "01";
  font-weight: 800;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  right: -12px;
  top: -16px;
}

.fitness-popular-product::after {
  position: absolute;
  content: "02";
  font-weight: 800;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  right: -6px;
  top: -17px;
}

.quadcopter-popular-product::after {
  position: absolute;
  content: "03";
  font-weight: 800;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  right: -7px;
  top: -17px;
}

.quadcopter-popular-product .popular-products-content {
  margin-left: 30px;
}

.quadcopter-popular-product .popular-products-specifications-value-item {
  padding: 0 78px 13px 0;
}

.popular-products-content::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;

  background-color: var(--basic-white);
  top: 34px;
}

/*.quadcopter-popular-product .popular-products-content::before {*/
/*  top: -35px;*/
/*}*/

.popular-products-img {
  grid-row-start: 1;
  grid-row-end: -1;
}

.monopod-popular-product .popular-products-img {
  margin-left: 89px;
  /*margin-top: auto;*/
}

.fitness-popular-product .popular-products-img {
  margin-left: 116px;
  margin-top: 26px;
}

.quadcopter-popular-product .popular-products-img {
  margin-left: 30px;
  margin-top: 82px;
}

.popular-products-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.popular-products-slogan {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin-top: 92px;
  margin-bottom: 0;
  z-index: 1;
}

.popular-products-description {
  line-height: 20px;
  letter-spacing: 0;
  margin-top: 26px;
  margin-bottom: 0;
}

.button-more {
  position: relative;
  margin-bottom: 0;
  margin-top: 50px;
  padding: 9px 42px 9px 44px;
  align-self: start;
}

.button-more::before {
  top: 17px;
  left: 0;
}

.button-more:hover::before {
  top: 0;
  left: 0;
}


.popular-products-specifications {
  font-family: "Gilroy", Arial, sans-serif;
  margin-bottom: -5px;
  margin-top: 50px;
  margin-left: -4px;
}

.fitness-popular-product .popular-products-specifications {
  margin-bottom: 18px;
  margin-top: 50px;
}

.popular-products-specifications-value {
  display: table-header-group;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.popular-products-specifications-value-item {
  padding: 0 60px 13px 0;
}

.popular-products-specifications-value-item:last-child {
  padding-right: 0;
}

.popular-products-specifications-description {
  display: table-footer-group;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.popular-products-specifications-description-item {
  padding: 0;
}

.crumbs {
  position: absolute;
  top: 340px;
  right: 88px;
  z-index: 20;
  display: flex;
  width: 72px;
  justify-content: space-between;
}

.crumbs-button {
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.crumb-current {
  box-shadow:
    inset 0 0 0 2px var(--basic-white),
    inset 0 0 0 3px var(--basic-black),
    inset 0 0 0 4px var(--basic-white);
}



.popular-products-pagination {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: row;
}

/*Product's categories*/
.products-categories {
  margin-top: 116px;
}

.products-categories-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products-categories-list-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  width: 160px;
}

.products_categories_icon {
  background-color: var(--special-yellow);
}

.products-categories_heading {
  padding-top: 33px;
  display: inline-block;
  vertical-align: bottom;
}

.fitness_heading {
  letter-spacing: 0;
}

.products-categories-list-item-link:hover .products_categories_icon {
  background-color: var(--special-yellow-dark);
}

.products-categories-list-item-link:active .products-categories_heading {
  color: var(--basic-black-active);
}

.products-categories-list-item-link:active .products_categories_icon {
  background-color: var(--special-yellow-dark);
  opacity: 30%;
}

.virtual_icon {
  padding: 52px 32px 53px 31px;
}

.monopod_icon {
  padding: 26px 37px 17px 37px;
}

.camera_icon {
  padding: 36px 45px 37px 44px;
}

.fitness_icon {
  padding: 48px 26px 47px 27px;
}

.watch_icon {
  padding: 31px 52px;
}

.quadcopter_icon {
  padding: 46px 14px 45px 14px;
}

.products-categories-list-item:active {
  color: var(--basic-black-active);
}

.products-categories-list-item-link {
  color: var(--basic-black);
}

/*Features*/
.features {
  background-color: var(--basic-grey-light);
  margin-top: 184px;
  height: 288px;
}

.features-container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-column-gap: 20px;
  transform: translateY(-100px);
}

.delivery-content {
  display: none;
}

.guaranty-content {
  display: none;
}

.credit-content {
  display: none;
}

.features-slide-current {
  display: block;
}

.delivery-content::after {
  position: absolute;
  content: "";
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery_man.svg");
  background-repeat: no-repeat;
  right: 2px;
  top: 71px;
}

.guaranty-content::after {
  position: absolute;
  content: "";
  width: 171px;
  height: 195px;
  background-image: url("../img/guaranty_1.svg");
  background-repeat: no-repeat;
  right: -16px;
  top: 53px;
}

.credit-content::after {
  position: absolute;
  content: "";
  width: 156px;
  height: 188px;
  background-image: url("../img/credit_1.svg");
  background-repeat: no-repeat;
  right: 8px;
  top: 48px;
}

.features-container::before {
  position: absolute;
  content: "";
  left: 277px;
  width: 7px;
  height: 100%;
  background-color: var(--basic-black);
}

.features-list {
  position: relative;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  align-content: center;
  width: 160px;
  margin: 80px 0;
  grid-row-start: 1;
  grid-row-end: -1;
}

.features-list-item {
  margin-bottom: 21px;
}

.features-list-item-link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.features-list-item-delivery .features-list-item-link {
  padding: 9px 19px;
}

.features-list-item-guaranty .features-list-item-link {
  padding: 9px 24px;
}

.features-list-item-credit .features-list-item-link {
  padding: 9px 38px;
}

.features-list-item:not(.features-list-current) .features-list-item-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
  z-index: -1;
  top: 16px;
  left: 0;
}

.features-list-item:not(.features-list-current):hover .features-list-item-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 40px;
  background-color: var(--special-yellow-dark);
  z-index: -1;
  top: 0;
  left: 0;
}

.features-list-item:not(.features-list-current):active .features-list-item-link::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 40px;
  background-color: var(--basic-black);
  z-index: -1;
  top: 0;
  left: 0;
}

.features-list-item:not(.features-list-current):active .features-list-item-link,
.features-list-current .features-list-item-link {
  color: var(--special-yellow);
}


.features-list-item.features-list-current .features-list-item-link::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 40px;
  background-color: var(--basic-black);
  z-index: -1;
  top: 0;
  left: 0;
}

.features-list-item:last-child {
  margin-bottom: 0;
}

.features-list-item-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.features-list-item-link:active {
  color: var(--special-yellow);
}

.features-list-item-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
  margin-top: 71px;
}

.features-list-description {
  letter-spacing: 0.1em;
  line-height: 30px;
  margin: 0;
}

/*Partners*/
.partners {
  margin-top: 90px;
  margin-bottom: 93px;
}

.partners-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.partners-list-item-link img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 25%
}

.partners-list-item-link:hover img {
  -webkit-filter: none;
  filter: none;
  opacity: 100%
}


/*Columns grid*/
.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin-bottom: 79px;
}

.about-heading,
.contacts-heading {
  margin-top: 50px;
  margin-bottom: 40px;
}


/*About*/
.about {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-description {
  line-height: 28px;
  margin: 0;
}

.about-description-first {
  margin-top: 0;
  margin-bottom: 40px;
}

.about-description-second {
  margin-top: 0;
  margin-bottom: 59px;
}

.delivery-list {
  margin-bottom: 71px;
  margin-top: 0;
  padding-left: 16px;
}

.delivery-list-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 15px;
  margin-top: 0;
  padding-left: 16px;
  list-style-image: url("../img/list_style_image.svg");
}

.delivery-list-item:last-child {
  margin-bottom: 0;
}

.delivery-list-item a {
  color: var(--basic-black);
}

.about-button {
  position: relative;
  align-self: flex-start;
  padding: 7px 22px;
  margin-left: 2px;
  margin-top: 0;
}

.about-button::before {
  top: 14px;
  left: -2px;
}

.about-button:hover::before {
  top: -3px;
  left: 0;
}

/*Contacts*/
.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contacts::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.contacts-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts-description {
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 40px;
}

.contacts-map {
  margin-bottom: 78px;
}

.contacts-button {
  position: relative;
  align-self: flex-start;
  margin-top: 0;
  padding: 7px 40px;
}

.contacts-button::before {
  top: 14px;
  left: 0;
}

.contacts-button:hover::before {
  top: -3px;
  left: 0;
}

/*Footer*/
.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  min-height: 324px;
  overflow: hidden;
}

.footer-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  padding-top: 46px;
}

.footer-container::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--gold);
  bottom: 38px;
}

.footer-site-nav {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-site-nav-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-site-nav-item:last-child {
  padding-right: 0;
}

.footer-site-nav-item-link {
  color: var(--basic-white);
  padding: 16px;
}

.footer-site-nav-item-link:hover {
  color: var(--basic-white-hover);
}

.footer-site-nav-item-link:active {
  color: var(--basic-white-active);
}

.footer-login::before {
  content: "";
  width: 9px;
  height: 9px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/login_gold.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 13px;
}

.footer-compare::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/compare_gold.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 14px;
}

.footer-cart::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/cart_gold.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 13px;
}

.footer-user::before {
  content: "";
  width: 9px;
  height: 9px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/login_gold.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 14px;
  color: var(--special-yellow);
}

.catalog-footer .footer-user {
  margin-right: 2px;
}

.footer-phone {
  color: var(--basic-white);
  margin-left: auto;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

}

.footer-account-nav {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.main-address {
  font-style: normal;
  margin-right: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

}

.footer-account-nav-item {
  color: var(--basic-white-calm-nav);
  padding: 10px;
  margin-bottom: auto;
  margin-top: -10px;
  margin-right: 23px;
}

.footer-account-nav-item:last-child {
  margin-right: -10px;
}

.footer-account-nav-item:hover {
  color: var(--basic-white);
}

.footer-account-nav-item:hover::before {
  opacity: 60%;
}

.footer-account-nav-item:active {
  color: var(--basic-white-active);
}

.footer-account-nav-item:active::before {
  opacity: 30%;
}

.social {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: space-between;
  margin: 66px auto 0;
}

.social-item {
  margin-right: 10px;
}

.social-item-link {
  padding: 5px;
}

.social-item-link .social-item-link-img {
  opacity: 30%;
}

.social-item-link:hover .social-item-link-img {
  opacity: 60%;
}

.social-item-link:active .social-item-link-img {
  opacity: 10%;
}

.social-item:last-child {
  margin-right: 0;
}

.developer-logo-link {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-left: auto;
  margin-top: 45px;
  margin-right: -20px;
  padding: 20px;
}

.developer-logo-link:hover .developer-logo-link-img {
  opacity: 60%;
}

.developer-logo-link:active .developer-logo-link-img {
  opacity: 30%;
}

/*Logos*/
.main-footer-logo-link {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: -2px;
  margin-bottom: 16px;
  padding: 20px;
  margin-left: -20px;
}

.main-header-logo-link:hover,
.main-footer-logo-link:hover {
  opacity: 60%;
}

.main-header-logo-link:active,
.main-footer-logo-link:active {
  opacity: 30%;
}

/*MODAL*/
/*Write*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  z-index: 20;
}

.modal-write {
  display: none;
  width: 960px;
  top: 160px;
  bottom: auto;
  box-sizing: border-box;
  padding: 92px 100px 60px 100px;
  box-shadow: 0 10px 16px var(--shadow-light);
}

.write-form {
  display: grid;
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.write-form-item {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.write-name-input,
.write-email-input {
  width: 360px;
  height: 50px;
}

.write-letter-textarea {
  padding-top: 16px;
  resize: none;
  min-height: 167px;
  width: 760px;
}

.write-name-input,
.write-email-input,
.write-letter-textarea {
  padding-left: 20px;
  color: var(--basic-black);
  opacity: 0.4;
  background-color: var(--basic-popup-input);
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 19px;
}

.write-name-input:hover,
.write-email-input:hover,
.write-letter-textarea:hover {
  background-color: var(--basic-popup-input-hover);
}

.write-name-input:focus,
.write-email-input:focus,
.write-letter-textarea:focus {
  background-color: transparent;
  outline: 2px solid var(--special-yellow);
  color: var(--basic-dark);
  opacity: 1;
}

.write-form-label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.write-form-item-letter {
  grid-column: 1/-1;
  margin-top: 31px;
}


.write-form-button {
  position: relative;
  margin-right: auto;
  font-family: "Gilroy", Arial, sans-serif;
  color: var(--basic-black);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-top: 46px;
  padding: 9px 35px 9px 34px;
}

.write-form-button::before {
  background-color: var(--special-yellow);
  top: 17px;
  left: 0;
}

.write-form-button:hover::before {
  top: 0;
}

.write-form-button:active {
  opacity: 0.3;
}

.modal-close {
  position: absolute;
  height: 55px;
  width: 55px;
  right: 20px;
  top: 23px;
  border: none;
  background-color: var(--special-yellow-transparent);
  border-radius: 50%;
}

.modal-close:hover {
  background-color: var(--special-yellow-dark);
}

.modal-close:active {
  background-color: var(--special-yellow-dark);
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 26px;
  width: 3px;
  height: 25px;
  background-color: var(--basic-white);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/*Map*/
.modal-map {
  display: none;
  width: 960px;
  height: 560px;
  box-shadow: 0 10px 16px var(--shadow-light);
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

/*CATALOG.HTML*/
/*Header*/
.catalog-header {
  min-height: 186px;
}

.user::before {
  content: "";
  width: 9px;
  height: 9px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 12px;
}

.header-account-nav-item.logout {
  margin-left: -18px;
  color: var(--basic-black-active);
}

.catalog-header .user {
  margin-left: -17px;
}

/*Main*/
.main-catalog-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin-top: 44px;
  padding-left: 60px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 29px;
}


.catalog-container {
  display: grid;
  grid-template-rows: repeat(4, -webkit-max-content);
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 328px 1fr;
}

.catalog-site-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-left: 60px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.catalog-site-nav-item {
  margin-right: 4px;
}

.catalog-site-nav-item:first-child {
  margin-left: -10px;
}

.catalog-site-nav-item:not(:first-child)::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 4px;
}


.catalog-site-nav-link {
  color: var(--basic-black-active);
  font-size: 14px;
  line-height: 19px;
  padding: 10px;
}

.catalog-site-nav-link:hover {
  color: var(--basic-black-hover);
}

/*Products container*/
.products-container {
  display: grid;
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: 328px 1fr;
}

/*Filters*/
.filters-section {
  position: relative;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--basic-grey-light);
  /*height: 100%;*/
  /*width: 100%;*/
}

.filters-header {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--basic-grey-darker);
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 70px;
  margin: 0;
  box-sizing: border-box;
}

.filters-header::before {
  content: "";
  position: absolute;
  right: 328px;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: var(--basic-grey-darker);
  z-index: -1;
}



.filters {
  /*min-height: 1214px;*/
}

.filters-section::before {
  content: "";
  position: absolute;
  right: 328px;
  height: 100%;
  width: 100vw;
  background-color: var(--basic-grey-light);
  z-index: -2;
}

.filter-container-price {
  margin-top: 85px;
}

.filter-container-color {
  margin-top: 53px;
}

.filter-container-bluetooth {
  margin-top: 36px;
}

.filter-item {
  position: relative;
  margin: 0;
  padding: 0 0 0 59px;
  border: none;
}

.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filters-color-list,
.filters-bluetooth-list{
  margin-left: 43px;
}

.filters-color-list-item {
  margin-bottom: 20px;
}

.filters-color-list-item-label {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.filter-label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.filter-input-checkbox + .filter-label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -3px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.filter-input:focus + .filter-label::before {
  outline: 1px solid var(--outline);
  outline-offset: 5px;
}


.filter-input-checkbox:checked + .filter-label::after,
.filter-input-checkbox:active + .filter-label:after{
  content: "";
  position: absolute;
  top: 5px;
  left: -37px;
  width: 13px;
  height: 10px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.filter-input-checkbox:checked:hover + .filter-label::before,
.filter-input-checkbox:checked:hover + .filter-label::after,
.filter-input-checkbox:hover + .filter-label::before,
.filter-input-radio:checked:hover + .filter-label::before,
.filter-input-radio:checked:hover + .filter-label::after,
.filter-input-radio:hover + .filter-label::before{
  opacity: 0.6;
}

.filter-input-checkbox:checked:active + .filter-label::after,
.filter-input-radio:checked:active + .filter-label::after{
  opacity: 0;
}

.filter-input-checkbox:active + .filter-label::before,
.filter-input-radio:active + .filter-label::before{
  opacity: 1;
}

.filter-input-checkbox:disabled + .filter-label::before + .filter-label,
.filter-input-checkbox:disabled + .filter-label::after + .filter-label,
.filter-input-radio:disabled + .filter-label::before + .filter-label,
.filter-input-radio:disabled + .filter-label::after + .filter-label{
  opacity: 0.25;
}

.color-forms {
  margin-bottom: 26px;
}

.filters-bluetooth-list-item {
  margin-bottom: 20px;
}

.filter-input-radio + .filter-label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:checked + .filter-label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -34px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:checked + .filter-label::after,
.filter-input-radio:active + .filter-label::after{
  content: "";
  position: absolute;
  top: 7px;
  left: -34px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter-price  {
  /*margin-top: 86px;*/
  /*margin-bottom: 42px;*/
}

.price-heading {
  margin-bottom: 40px;
}

.color-heading {
  margin-bottom: 32px;
}

.bluetooth-heading {
  margin-bottom: 30px;
}

.range-filter {
  width: 200px;
}

.range-controls {
  position: relative;
  margin-bottom: 14px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-black-active);
}

.range-controls .bar {
  background-color: var(--special-green);
  width: 60%;
  height: 2px;
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--creme);
  border-radius: 50%;
  box-shadow: 0 2px 2px var(--shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 115px;
}

.max-price {
  margin-left: 66px;
}

.filter-container {
  position: relative;
}

.filter-container::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 200px;
  top: -16px;
  left: 60px;
  background-color: var(--basic-black);
}

.filter-item:first-child::before {
  top: -68px;
}

.filter-submit {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 10px 38px;
  z-index: 1;
  margin-top: 23px;
  margin-left: 64px;
}

.filter-submit::before {
  top: 17px;
  left: -2px;
}

.filter-submit:hover::before {
  top: 2px;
  left: -2px;
}


/*Sort*/
.sort-section {
  position: relative;
  display: flex;
  background-color: var(--basic-grey-light);
  padding-left: 72px;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.sort-section::after {
  content: "";
  position: absolute;
  left: 252px;
  top: 0;
  height: 100%;
  width: 50vw;
  background-color: var(--basic-grey-light);
  z-index: -1;
}


.sort-heading {
  /*position: relative;*/
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 73px;
}

.sort-arrows {
  margin-left: auto;
  display: flex;
  margin-right: -5px;
}

/*.sort-arrow {*/
/*  margin-left: auto;*/
/*}*/

.sort-list-item-arrow {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

.sort-list-item-arrow:last-child {
  margin-right: 0;
}

.sort-list-link-arrow {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.sort-list-link-arrow:hover {
  opacity: 0.4;
}

.arrow-current {
  opacity: 0.2;
}

.sort-list-link-arrow-up {
  height: 18px;
  width: 18px;
  background-image: url("../img/icon_up.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.sort-list-link-arrow-down {
  height: 18px;
  width: 18px;
  background-image: url("../img/icon_down.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
}

.sort-list-item {
  color: var(--basic-black-active);
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  margin-right: 10px;
  cursor: pointer;
}

.sort-list-link {
  padding: 10px;
}

.sort-list-item:first-child {
  margin-left: -20px;
}

.sort-list-item:last-child {

}

.sort-list-item:hover {
  color: var(--basic-black-hover);
}

.sort-list-item:active {
  color: var(--basic-black);
}

.sort-list-item.active {
  color: var(--basic-black);
}

/*Goods*/
.goods-section {
  padding-left: 72px;
  padding-top: 69px;
  margin-bottom: 78px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goods-list-item {
  display: grid;
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  margin-bottom: 48px;
}

.goods-list-item:nth-child(2n) {
  margin-left: 40px;
}

.goods-list-item:nth-last-child(-n+2) {
  margin-bottom: 40px;
}

.goods-list-link {
  color: var(--basic-black);
}

.goods-list-link-pic {
  padding-bottom: 30px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.goods-list-link-pic:hover ~ .product-links,
.product-links:hover {
  display: flex;
}

.goods-list-price {
  margin-left: auto;
}

.goods-list-link-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.goods-list-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.product-links {
  position: absolute;
  display: none;
  flex-direction: column;
  height: 381px;
  width: 360px;
  background-color: var(--basic-white-calm-nav);
}


.addcart {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  align-self: center;
  margin-top: 169px;
  margin-bottom: 2px;
  margin-left: -4px;
  padding: 10px 38px 8px 38px;
  z-index: 0;
}

.addcart::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 8px;
  background-color: var(--special-yellow-dark);
  top: 17px;
  left: 1px;
  z-index: -1;
}

.addcart:hover::before {
  height: 40px;
  top: 1px;
}

.addcart:active {
  color: var(--basic-black-active);
}

.addcompare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  opacity: 0.5;
  align-self: center;
  margin-left: -5px;
  padding: 10px;
}

.addcompare:hover {
  opacity: 1;
}

.addcompare:active {
  opacity: 0.2;
}

.new {
  position: relative;
}

.new::after {
  position: absolute;
  content: "new";
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 15px;
  font-size: 12px;
  color: var(--basic-black);
  opacity: 0.3;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  padding: 21px 16px 22px 15px;
  margin-right: auto;
  top: 29px;
  right: 27px;
}

/*Pagination*/
.pagination {
  display: flex;
  background-color: var(--basic-grey-dark);
  justify-content: space-between;
  height: 70px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto 25px;
}

.pagination-page {
  margin-right: 15px;
  padding: 5px;
}

.pagination-page:last-child {
  margin-right: 0;
}

.pagination-back {
  padding: 25px 30px;
  margin-left: 0;
}

.pagination-forward {
  padding: 25px 30px;
  margin-right: 0;
}

.pagination-forward,
.pagination-back {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: auto;
  margin-bottom: auto;
}

.pagination-forward:hover {
  background-color: var(--basic-one-more-grey);
}

.pagination-forward:active {
  background-color: var(--basic-one-more-grey);
  color: var(--basic-black-active);
}

.pagination-back:hover {
  background-color: var(--basic-one-more-grey);
}

.pagination-back:active {
  background-color: var(--basic-one-more-grey);
  color: var(--basic-black-active);
}

.pagination-page-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black-active);
}

.pagination-page-link:hover {
  color: var(--basic-black-hover);
}

.pagination-page-link:active {
  color: var(--basic-black);
}

.pagination-page-link.current {
  color: var(--basic-black);
}

/*Animation*/
@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


